<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/import'); %>

    <title>创建成功</title>
  </head>
  <body>
    <div class="mt-3 container-fluid">
      <div class="row">
        <div class="col">
          <a class="btn btn-link" href="/">返回首页</a>
          <div class="alert alert-success" role="alert">
            <b>创建成功</b>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
